body {
    padding: 20px;
}

#edit_image {
    width: 400px;
    margin: 10px;
}

.image_listing{
    width: 500px;
}

#auction {
  text-align: center;
}

.list_post{
    border: 1px solid black;
    padding-left: 1%;
    padding-bottom: 1%;
}
