{% extends "auctions/layout.html" %}


{% block body %}
    {% for auction in object_list %}
        <div class="form-group">
        <div class="list_post">
            <b><a href="{% url 'listing' auction.pk %}">{{ auction.name }}</a></b>
            {{ auction.price }}<br>
            {{ auction.description}}<br>
            {{ auction.author }}
            {{ auction.category }}
            <hr><img src="{{ auction.image.url }}" alt="no" class="image_listing"><br>
         - <a href="{% url 'add_fav' auction.id %}">Add to card</a><br>
        </div>
    {% endfor %}
{% endblock %}