{% extends "auctions/layout.html" %}


{% block body %}
    {% for auction in object_list %}
        {% if auction.auth == request.user %}
            <b>{{ auction.name }}</b> - <a href = "{% url 'edit' auction.pk %}">Edit</a>-
            <a href ="{% url 'delete' auction.pk %}">Delete</a>  <br>
            Price: {{ auction.price }}<br>
            Description: {{ auction.description }}<br>
            Category: {{ auction.category }}
            <hr><img src="{{ auction.image.url }}" alt="no" class="image_listing"><br>
        {% endif %}
    {% endfor %}
{%endblock %}